* {
    font-family: "dogica","dogicapixelbold", sans-serif;
    font-size: 12px;
    color: #211313;
    font-weight: bold;
    letter-spacing: 1.3px;
    line-height: 20px;
    box-sizing: border-box; 
}

body {
    background-color: #a88b72;
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: column;
    min-height: 100vh; 
}

h1 {
    padding: 10px 30px;
    padding-top:20px;
    padding-bottom: 20px;
    background-color: #5e4338;
    margin: 0;
    color: white;
    display: flex;
    justify-content: space-between;
}

.left, .center, .right {
    font-size: 13px;
    color:rgb(229, 220, 191);
}

footer {
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: center;
}

section {
    background-color:#d5b790;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    flex-grow: 1; 
}

h3 {
    font-size: 15px;
    margin: 20px;
    background-color: rgb(229, 220, 191);
    
    
    padding: 20px;
    border-radius: 5px;
    width:100%;
    
}

.row {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
}

.column {
    flex: 1; 
    padding: 10px;
    margin: 10px 0; 
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

#button{
    background-color: #d5b790;
    border-style:outset;
    border-bottom-color:#e39f45;
    border-right-color:#e39f45;
    border-top-color:rgb(229, 220, 191);
    border-left-color:rgb(229, 220, 191);
    padding:20px;
    width:100%;
    border-radius:5px;
    
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    
}

.click{
    cursor:pointer;
}

#notifs {
    background-color:rgb(229, 220, 191);
    padding:20px;
    border-radius:5px;
}

footer{
    display:flex;
    justify-content: space-between;
    color:#211313;
}

@media (max-width: 768px) {
    .column {
        flex: 100%; 
        margin-bottom: 20px;
    }
}

input{
    background-color: rgb(229, 220, 191);
    margin:20px;
    padding:10px;
    border-radius:5px;
    border-top-color:#e39f45;
    border-left-color:#e39f45;
    border-bottom-color:rgb(130, 104, 80);
    border-right-color:rgb(130, 104, 80);
  }

@font-face {
    font-family: 'Dogica';
    src: url('fonts/dogica.woff') format('woff'),
         url('fonts/dogicapixelbold.woff') format('woff'),
         url('fonts/dogica.woff2') format('woff2'),
         url('fonts/dogicapixelbold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  #mainsimbg.clear {
    background-image: url('./weatherims/clearbg.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #mainsimbg.partly-cloudy {
    background-image: url('./weatherims/partlycloudybg.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #mainsimbg.overcast {
    background-image: url('./weatherims/overcastbg.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  #mainsimbg.light-rain {
    background-image: url('./weatherims/lightrainbg.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #mainsimbg.heavy-rain {
    background-image: url('./weatherims/heavyrainbg.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #mainsimbg.light-snow {
    background-image: url('./weatherims/lightsnowbg.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #mainsimbg.heavy-snow {
    background-image: url('./weatherims/heavysnowbg.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  